/**** fix for css conflicts for google maps ****/
#backlog, #backlogCategory {
	a {
		text-shadow: none;
	}
	a.summary {
		border-color: #eeece1;
		background-color: #eeece1;
		color: #3f3f3f;
	}
	a.visit {
		border-color: #c5d8f1;
		background-color: #c5d8f1;
		color: #3f3f3f;
	}
	a.draft {
		border-color: #8cb3e3;
		background-color: #8cb3e3;
		color: #3f3f3f;
	}
	a.finalDraft {
		border-color: #538cd5;
		background-color: #538cd5;
		color: #FFF;
	}
	a.placeOrder {
		border-color: #366092;
		background-color: #366092;
		color: #FFF;
	}
	a.finish {
		border-color: #17365d;
		background-color: #17365d;
		color: #FFF;
	}
	
	a.terriblelyExceeded {
		border-color: #cc0000;
		background-color: #cc0000;
		color: #ffffff;
	}
	a.exceeded {
		border-color: #ffff00;
		background-color: #ffff00;
		color: #3f3f3f;
	}
	a.health {
		border-color: #ccff33;
		background-color: #ccff33;
		color: #3f3f3f;
	}
	a.empty{
		background-color: #ffffff;
		color: #ffffff;
	}
}