/**** fix for css conflicts for google maps ****/
#backlogCategory {
	
	li:first-child  {
		padding: 16px 16px 0 0;
		border-bottom-width: 2px;
		
		> div {
			padding-left: 5px;
			
			a {
				width: 8em;
				border-radius: 5px;
				padding: 5px 0;
			}
		}
	}
	
	li:first-child  {
		
	}
	li:nth-child(n+2) {
		padding: 0;
		
		> div:first-child {
			padding: 0 5px 0 10px;
			
			label {
				border: none;
			}
			label:active {
				background-color: white;
			}
			input {
				z-index: 2;
			}
		}
		
		> div:last-child {
			padding-left: 0;
			
			a {
				padding: 8px 0;
				border-radius: 5px;
				margin-top: 12px;
				font-size: small;
			}
		}
	}
	
}
