/**** colours ****/
/**** string constants ****/
/**** size constants ****/
/**** import all other css / less files ***

@import "overrides_jqm_1.4.2.less";
*/
/**** fix for css conflicts for google maps ****/
#backlog li a {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  display: block;
  padding: 0;
  text-align: center;
  line-height: 2;
}
#backlog li .col-xs-3 {
  text-align: center;
}
#backlog li .row .col-xs-3:first-child {
  margin-top: 5px;
}
#backlog li .row .col-xs-3:first-child a {
  width: 100%;
  margin: 5px;
  border-radius: 5px;
  padding: 0;
  font-size: 0.8em;
  line-height: 2;
}
/**** fix for css conflicts for google maps ****/
#backlogCategory li:first-child {
  padding: 16px 16px 0 0;
  border-bottom-width: 2px;
}
#backlogCategory li:first-child > div {
  padding-left: 5px;
}
#backlogCategory li:first-child > div a {
  width: 8em;
  border-radius: 5px;
  padding: 5px 0;
}
#backlogCategory li:nth-child(n+2) {
  padding: 0;
}
#backlogCategory li:nth-child(n+2) > div:first-child p {
  margin: 20px 0 0 5px;
  font-weight: bold;
  font-size: 1em;
}
#backlogCategory li:nth-child(n+2) > div:last-child {
  padding-left: 0;
}
#backlogCategory li:nth-child(n+2) > div:last-child a {
  padding: 8px 0;
  border-radius: 5px;
  margin-top: 12px;
  font-size: small;
}
/**** fix for css conflicts for google maps ****/
#backlog a,
#backlogCategory a {
  text-shadow: none;
}
#backlog a.summary,
#backlogCategory a.summary {
  border-color: #eeece1;
  background-color: #eeece1;
  color: #3f3f3f;
}
#backlog a.visit,
#backlogCategory a.visit {
  border-color: #c5d8f1;
  background-color: #c5d8f1;
  color: #3f3f3f;
}
#backlog a.draft,
#backlogCategory a.draft {
  border-color: #8cb3e3;
  background-color: #8cb3e3;
  color: #3f3f3f;
}
#backlog a.finalDraft,
#backlogCategory a.finalDraft {
  border-color: #538cd5;
  background-color: #538cd5;
  color: #FFF;
}
#backlog a.placeOrder,
#backlogCategory a.placeOrder {
  border-color: #366092;
  background-color: #366092;
  color: #FFF;
}
#backlog a.finish,
#backlogCategory a.finish {
  border-color: #17365d;
  background-color: #17365d;
  color: #FFF;
}
#backlog a.terriblelyExceeded,
#backlogCategory a.terriblelyExceeded {
  border-color: #cc0000;
  background-color: #cc0000;
  color: #ffffff;
}
#backlog a.exceeded,
#backlogCategory a.exceeded {
  border-color: #ffff00;
  background-color: #ffff00;
  color: #3f3f3f;
}
#backlog a.health,
#backlogCategory a.health {
  border-color: #ccff33;
  background-color: #ccff33;
  color: #3f3f3f;
}
#backlog a.empty,
#backlogCategory a.empty {
  background-color: #ffffff;
  color: #ffffff;
}
/**** fonts ****/
/*
@font-face {
	font-family: GothamCondensedLight;
	font-weight: normal;
	src: url('@{dir-fonts}/GothamCond-Light.otf');
}
*/
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}
.clearfix:after,
.row:after {
  clear: both;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
/**** fix for css conflicts for google maps ****/
.map img {
  max-width: none;
  height: auto;
}
.map * {
  box-sizing: content-box;
}
/****************************/
/* Worklight container div */
* {
  box-sizing: border-box;
  font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, Arial, sans-serif;
  text-shadow: none;
}
.ui-page {
  min-height: 100%;
  z-index: 1;
  text-shadow: none;
  background: #efeff1;
  padding: 0px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /*hardware accleration*/
  /*backface-visibility: hidden;  */
  perspective: 1000;
  color: #5f5e63;
}
.ui-page .ui-navbar {
  width: 100%;
}
.ui-page .ui-navbar .ui-btn {
  color: #a4a5ab;
  background-color: #ffffff;
  text-shadow: 0 none;
  border: 0 none;
  height: 42px;
  line-height: 24px;
  border-bottom: 1px solid #e3e4e6;
}
.ui-page .ui-navbar .ui-btn:focus {
  text-shadow: 0 none;
}
.ui-page .ui-navbar .ui-btn.ui-btn-active {
  text-shadow: 0 none;
  color: #5f5e63;
  padding-bottom: 0.6em;
  border-bottom: 3px solid #1da7a1;
}
.ui-header.ui-bar-inherit {
  background-color: #1da7a1;
  color: #ffffff;
}
.ui-header .ui-title {
  font-size: 1.2em;
  padding: .5em 0;
}
.ui-header .ui-btn-left {
  margin-top: 3px;
}
.ui-header .ui-icon-back,
.ui-header .ui-icon-back:hover,
.ui-header .ui-icon-back.ui-btn-active {
  border-color: transparent;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ui-header .ui-icon-back:after {
  background-image: url(jquerymobile/images/icons-svg/carat-l-white.svg);
}
.ui-header .ui-btn-icon-notext:after {
  background-color: transparent;
}
.ui-content {
  margin: 1em 0;
  background: #ffffff;
  /**** split Line ****/
}
.ui-content h1 {
  font-size: 24px;
}
.ui-content h2 {
  font-size: 20px;
}
.ui-content h3,
.ui-content h4,
.ui-content h5,
.ui-content h6 {
  font-size: 1em;
}
.ui-content h3 {
  margin-top: 0;
  text-align: left;
  border-bottom: 1px solid #e3e4e6;
  margin: 0 -1em;
  padding: 0 1em 1em;
}
.ui-content hr {
  height: 0px;
  border: none;
  border-top: 1px solid #e3e4e6;
  margin: 0 -1em;
}
.ui-content button.ui-btn {
  background-color: #1da7a1;
  color: #ffffff;
}
.ui-content button.ui-btn:hover {
  color: #ffffff;
  background-color: #157c77;
}
.ui-content button.ui-btn:visited {
  color: #ffffff;
  background-color: #1da7a1;
}
.ui-popup button.ui-btn {
  background-color: #1da7a1;
  color: #ffffff;
}
.ui-popup button.ui-btn:hover {
  color: #ffffff;
  background-color: #157c77;
}
.ui-popup button.ui-btn:visited {
  color: #ffffff;
  background-color: #1da7a1;
}
.ui-overlay-a {
  background: #efeff1;
}
.ui-page-theme-a .ui-radio-on:after {
  border-color: #1da7a1;
}
.ui-page-theme-a .ui-checkbox-on:after {
  background-color: #1da7a1;
}
.ui-page-theme-a .ui-input-text {
  border-color: #e3e4e6;
}
.ui-page-theme-a .ui-input-text.ui-shadow-inset {
  box-shadow: none;
}
.ui-page-theme-a .ui-controlgroup .ui-btn-active {
  background-color: #1da7a1;
}
.ui-page-theme-a .ui-footer {
  background: #e3e4e6;
}
.ui-footer .ui-navbar li {
  float: left;
  width: 25%;
  font-size: 0.75em;
  text-align: center;
}
.ui-footer .ui-navbar li.active .ui-link {
  color: #3388cc;
}
.ui-footer .ui-navbar li.active .barIcon {
  fill: #3388cc;
}
.ui-footer .ui-navbar li .barIcon {
  margin: 0 auto;
  width: 2em;
  height: 2em;
  display: block;
  fill: #5f5e63;
}
.ui-footer .ui-navbar li .ui-link {
  color: #ffffff;
  background: none;
  border-left-width: 0;
  border-right-width: 0;
  padding: .7em 1em .5em;
}
table.infoList {
  font-size: 0.875em;
  border-collapse: collapse;
  width: 100%;
}
table.infoList th {
  width: 5em;
  vertical-align: top;
  padding-top: 1.2em;
  text-align: left;
}
table.infoList .ui-radio label,
table.infoList .ui-checkbox label {
  font-size: 0.875em;
}
table.nostyle fieldset:not(.ui-controlgroup-horizontal) .ui-radio .ui-btn,
table.nostyle fieldset:not(.ui-controlgroup-horizontal) .ui-checkbox .ui-btn {
  background: #FFF;
  border-color: transparent;
}
table.nostyle fieldset:not(.ui-controlgroup-horizontal) .ui-checkbox {
  display: inline-block;
  width: 49%;
}
#customerBaseInfo .cname .ui-input-text {
  width: 49%;
  display: inline-block;
}
#customerBaseInfo .cname .ui-controlgroup {
  display: inline-block;
}
#customerBaseInfo .tel .ui-input-text {
  width: 80%;
  display: inline-block;
}
#customerBaseInfo .tel .ui-icon-plus {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.2em;
  background-color: transparent;
  border: none;
}
#customerBaseInfo .tel .ui-icon-plus:after {
  background-image: url("../images/plus.svg");
  background-color: transparent;
}
#customerLostBill .ui-icon-check {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.2em;
  background-color: transparent;
  border: none;
}
#customerLostBill .ui-icon-check:after {
  background-image: url("../images/check.svg");
  background-color: transparent;
}
#customerLostBill table.infoList .date .ui-input-text {
  width: 80%;
  display: inline-block;
}
#customerLostBill table.infoList .date .ui-icon-check {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.2em;
}
#customerLostBill table.infoList .reason {
  margin-left: 2em;
}
#customerSearch .search {
  margin-bottom: 0.7em;
}
#customerSearch .ui-input-search {
  display: inline-block;
  width: 71%;
  border-color: #e3e4e6;
  padding-right: 0;
}
#customerSearch .ui-input-search.ui-shadow-inset {
  box-shadow: none;
}
#customerSearch button.ui-btn {
  display: inline-block;
  width: auto;
  padding: 0.5em 1em;
  margin-left: 1em;
  border-radius: 3px;
}
#customerSearch .searchlist ul {
  list-style: none;
  padding: 0;
  margin: 0 -1em;
  border-top: 1px solid #e3e4e6;
}
#customerSearch .searchlist ul li {
  padding: 0.5em 1.5em;
  border-bottom: 1px solid #e3e4e6;
}
#customerSearch .searchlist ul li p {
  font-size: 0.8em;
  margin: 0.5em 0;
}
#customerRecord .record {
  margin: 3em;
}
#customerRecord .record .ui-link {
  width: 5em;
  height: 5em;
  margin: 0 auto;
  padding: 3em;
  text-indent: -9999999px;
}
#customerRecord .record .ui-icon-time:after {
  background-color: transparent;
  left: 50%;
  top: 50%;
  margin-top: -2em;
  margin-left: -2em;
  width: 4em;
  height: 4em;
  background-image: url(../images/clock.svg);
  background-size: 3em;
}
#customerRecord .startTime,
#customerRecord .endTime {
  width: 60%;
  margin: 0.5em auto;
}
#customerRecord .cusNum {
  text-align: center;
  padding: 1px;
}
#customerRecord .cusNum .ui-input-text {
  width: 50%;
  display: inline-block;
}
#customerRecord .cusNum .ui-icon-carat-r {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.5em;
  margin-top: 0.6em;
}
#customerRecord .ui-icon-forbidden {
  width: 60%;
  margin: 2em auto;
}
#customerHouse .designer .ui-controlgroup {
  display: inline-block;
}
#customerHouse table.infoList th {
  width: 6em;
  padding-top: 1.2em;
}
#customerHouse table.infoList .ui-checkbox,
#customerHouse table.infoList .ui-radio {
  display: inline-block;
}
#customerHouse table.infoList fieldset.ui-controlgroup-horizontal .ui-radio {
  width: auto;
}
#dataStatistics .ui-btn {
  font-size: 0.875em;
}
#dataStatistics .row {
  margin-bottom: 15px;
}
#customerBill table.infoList th {
  width: 6.5em;
}
#toDo table.infoList tr {
  border-bottom: 1px solid #a4a5ab;
}
#toDo table.infoList tr:first-child {
  border-bottom: 1px solid #e3e4e6;
}
#customerRequirement .ui-icon-plus {
  margin-top: -2.5em;
  float: right;
  display: inline-block;
  vertical-align: top;
  margin-left: 0.2em;
  background-color: transparent;
  border: none;
}
#customerRequirement .ui-icon-plus:after {
  background-image: url("../images/plus.svg");
  background-color: transparent;
}
#customerRequirement .ui-link {
  font-size: 0.875em;
}
#customerRequirement .requireList {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.875em;
}
#customerRequirement .requireList li {
  padding: 8px 4px;
  border-bottom: 1px dashed #a4a5ab;
}
#customerRequirement .requireList li .col-xs-4 {
  padding-left: 10px;
  padding-right: 10px;
}
#customerProcess .col-xs-6 {
  padding-left: 0;
  padding-right: 0;
}
#customerProcess .viewPoint {
  font-size: 0.875em;
  float: right;
  margin-top: -50px;
}
#customerProcess .viewPoint .ui-radio label {
  font-size: 0.875em;
}
#customerProcess .processInfo {
  font-size: 0.875em;
}
#customerProcess .processInfo tr td:first-child {
  width: 50%;
}
#customerProcess .col-xs-6:first-child {
  padding-right: 1em;
}
#customerProcess .col-xs-6:last-child {
  border-left: 1px solid #a4a5ab;
  padding-left: 1.4em;
}
#customerProcess .total {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: #d9182d;
  color: #ffffff;
  text-align: center;
  line-height: 2;
  position: absolute;
  top: 0;
  left: -1em;
}
#customerProcess .processContent {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.875em;
}
#customerProcess .processContent li {
  margin-bottom: 2em;
  position: relative;
}
#customerProcess .processContent li span {
  font-size: 0.75em;
  display: block;
}
#customerProcess .processContent li:after {
  content: "";
  width: 0.9em;
  height: 0.9em;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  top: 4px;
  left: -31px;
}
#customerProcess .processContent li:first-child:after {
  border: none;
  background: none;
}
#customerProcess .done:after {
  border-color: #e3e4e6;
}
#customerProcess .ontime:after {
  border-color: #1da7a1;
}
#customerProcess .delay:after {
  border-color: #d9182d;
}
#customerProcess .dashed.done:after {
  background-color: #e3e4e6;
}
#customerProcess .dashed.ontime:after {
  background-color: #1da7a1;
}
#customerProcess .dashed.delay:after {
  background-color: #d9182d;
}
#customerProcess .customerName {
  margin-bottom: 15px;
}
#customerProcess .ui-icon-plus {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}
#customerTrack {
  padding: 20px;
}
#customerTrack h3 {
  text-align: center;
}
#customerIntention .ui-checkbox {
  width: auto;
}
