/**** colours ****/
@color-green: #1da7a1;
@color-light-blue: #38c;
@color-blue: #00649d;
@color-dark-blue: #004266;
@color-orange: #ff7a01;
@color-yellow: #ffcf01;
@color-red: #D9182D;
@color-black: #000000;
@color-white: #ffffff;
@color-gray: #a4a5ab;
@color-gray-1: #e3e4e6;
@color-gray-2: #5f5e63;
@color-gray-3: #efeff1;

/**** string constants ****/
@dir-images: "../images";
@dir-theme-images: "../themes/ibm_starter_apps_1.4.2/images/icons-png";

/**** size constants ****/
@size-desktop: 1200px;
@size-tablet: 767px;
@size-phone: 480px;

/**** import all other css / less files ***

@import "overrides_jqm_1.4.2.less";
*/
@import "backlog.less";
@import "backlogCategory.less";
@import "backlogInputs.less";

/**** fonts ****/
/*
@font-face {
	font-family: GothamCondensedLight;
	font-weight: normal;
	src: url('@{dir-fonts}/GothamCond-Light.otf');
}
*/

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
	display: table;
	content: " ";
}
.clearfix:after,
.row:after {
	clear: both;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
    position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}


/**** fix for css conflicts for google maps ****/
.map img {
	max-width: none;
	height: auto
}

.map * {
	box-sizing: content-box;
}
/****************************/

/* Worklight container div */
* {
	box-sizing: border-box;
	font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, Arial, sans-serif;
	text-shadow: none;
}

.ui-page {
	min-height: 100%;
	z-index: 1;
	text-shadow: none;
	background: @color-gray-3;
	padding: 0px;
	-webkit-box-sizing:content-box;
	box-sizing: content-box;
	/*hardware accleration*/
	// transform: translateZ(0);
	/*backface-visibility: hidden;  */
	perspective: 1000;
	color: @color-gray-2;

	.ui-navbar {
		width: 100%;
		.ui-btn {
			color: @color-gray;
			background-color: @color-white;
			text-shadow: 0 none;
			border: 0 none;
			height: 42px;
			line-height: 24px;
			border-bottom: 1px solid @color-gray-1;
			&:focus {
				text-shadow: 0 none;
			}
			&.ui-btn-active {
				text-shadow: 0 none;
				color: @color-gray-2;
				padding-bottom: 0.6em;
				border-bottom: 3px solid @color-green;
			}
		}
	}

}
.ui-header {
	&.ui-bar-inherit {
		background-color: @color-green;
		color: @color-white;
	}
	.ui-title {
		font-size: 1.2em;
		padding: .5em 0;
	}
	.ui-btn-left {
		margin-top: 3px;
	}
	.ui-icon-back {
		&, &:hover, &.ui-btn-active {
			border-color: transparent;
		background-color: transparent;
		-webkit-box-shadow: none;
		box-shadow: none;
		}

		&:after {
			background-image: url(jquerymobile/images/icons-svg/carat-l-white.svg);
		}
	}
	.ui-btn-icon-notext {
		&:after {
			background-color: transparent;
		}
	}
}
.ui-content {
	margin: 1em 0;
	background: @color-white;
	h1{
		font-size: 24px;
	}
	h2{
		font-size: 20px;
	}
	h3, h4, h5, h6{
		font-size: 1em;
	}
	h3 {
		margin-top: 0;
		text-align: left;
		border-bottom: 1px solid @color-gray-1;
		margin: 0 -1em;
		padding: 0 1em 1em;
	}
	/**** split Line ****/
	hr {
		height: 0px;
		border: none;
		border-top:1px solid @color-gray-1;
		margin: 0 -1em;
	}
	button.ui-btn {
		&:hover {
			color: @color-white;
			background-color: darken(@color-green, 10%);
		}
		&:visited {
			color: @color-white;
			background-color: @color-green;
		}
		background-color: @color-green;
		color: @color-white;
	}
}
.ui-popup {
	button.ui-btn {
		&:hover {
			color: @color-white;
			background-color: darken(@color-green, 10%);
		}
		&:visited {
			color: @color-white;
			background-color: @color-green;
		}
		background-color: @color-green;
		color: @color-white;
	}
}
.ui-overlay-a {
	background: @color-gray-3;
}
.ui-page-theme-a {
	.ui-radio-on:after {
		border-color: @color-green;
	}
	.ui-checkbox-on:after {
		background-color: @color-green;
	}
	.ui-input-text {
		border-color: @color-gray-1;
		&.ui-shadow-inset {
			box-shadow: none;
		}
	}
	.ui-controlgroup {
		.ui-btn-active {
			background-color: @color-green;
		}
	}
	.ui-footer {
		background: @color-gray-1;
	}
}

.ui-footer {
	.ui-navbar {
		li {
			float: left;
			width: 25%;
			font-size: 0.75em;
			text-align: center;

			&.active {
				.ui-link {
					color: @color-light-blue;
				}
				.barIcon {
					fill:@color-light-blue;
				}
			}
			.barIcon {
				margin: 0 auto;
				width: 2em;
				height: 2em;
				display: block;
				fill:@color-gray-2;
			}
			.ui-link {
				color: @color-white;
				background: none;
				border-left-width: 0;
				border-right-width: 0;
				padding: .7em 1em .5em;
			}
		}
	}
}



table.infoList {
	font-size: 0.875em;
	border-collapse: collapse;
	width: 100%;
	th {
		width: 5em;
		vertical-align: top;
		padding-top: 1.2em;
		text-align: left;
	}
	.ui-radio, .ui-checkbox{
		label {
			font-size: 0.875em;
		}
	}
}

table.nostyle {
	fieldset:not(.ui-controlgroup-horizontal) {
		.ui-radio, .ui-checkbox {
			.ui-btn {
				background: #FFF;
				border-color: transparent;
			}
		}
		.ui-checkbox {
			display: inline-block;
			width: 49%;
		}
	}
}
#customerBaseInfo {
	.cname {
		.ui-input-text {
			width: 49%;
			display: inline-block;
		}
		.ui-controlgroup {
			display: inline-block;
		}
	}
	.tel {
		.ui-input-text {
			width: 80%;
			display: inline-block;
		}
		.ui-icon-plus {
			display: inline-block;
			vertical-align: top;
			margin-left: 0.2em;
			background-color: transparent;
			border: none;
			&:after {
				background-image: url("../images/plus.svg");
				background-color: transparent;
			}
		}
	}
}
#customerLostBill {
	.ui-icon-check {
		display: inline-block;
		vertical-align: top;
		margin-left: 0.2em;
		background-color: transparent;
		border: none;
		&:after {
			background-image: url("../images/check.svg");
			background-color: transparent;
		}
	}
	table.infoList {
		.date {
			.ui-input-text {
				width: 80%;
				display: inline-block;
			}
			.ui-icon-check {
				display: inline-block;
				vertical-align: top;
				margin-left: 0.2em;
			}
		}
		.reason {
			margin-left: 2em;
		}
	}
}
#customerSearch {
	.search {
		margin-bottom: 0.7em;
	}
	.ui-input-search {
		display: inline-block;
		width: 71%;
		border-color: @color-gray-1;
		padding-right: 0;
		&.ui-shadow-inset {
			box-shadow: none;
		}
	}
	button.ui-btn {
		display: inline-block;
		width: auto;
		padding: 0.5em 1em;
		margin-left: 1em;
		border-radius: 3px;
	}
	.searchlist {
		ul {
			list-style: none;
			padding: 0;
			margin: 0 -1em;
			border-top: 1px solid @color-gray-1;

			li {
				// margin: 0 1em;
				padding: 0.5em 1.5em;
				border-bottom: 1px solid @color-gray-1;

				p {
					font-size: 0.8em;
					margin: 0.5em 0;
				}
			}
		}
	}
}
#customerRecord {
	.record {
		margin: 3em;
		.ui-link {
			width: 5em;
			height: 5em;
			margin: 0 auto;
			padding: 3em;
			text-indent: -9999999px;
		}
		.ui-icon-time {
			&:after {
				background-color: transparent;
				left: 50%;
				top: 50%;
				margin-top: -2em;
				margin-left: -2em;
				width: 4em;
				height: 4em;
				background-image: url(../images/clock.svg);
				background-size: 3em;
			}
		}
	}
	.startTime, .endTime {
		// text-align: center;
		width: 60%;
		margin: 0.5em auto;
	}
	.cusNum {
		text-align: center;
		padding: 1px;
		.ui-input-text {
			width: 50%;
			display: inline-block;
		}
		.ui-icon-carat-r {
			display: inline-block;
			vertical-align: top;
			margin-left: 0.5em;
			margin-top: 0.6em;
		}
	}
	.ui-icon-forbidden {
		width: 60%;
		margin: 2em auto;
	}
}
#customerHouse {
	.designer {
		.ui-controlgroup {
			display: inline-block;
		}
	}
	table.infoList {
		tr:nth-child(-n+3) {
			th {
				// padding-top: 2.7em;
			}
		}
		th {
			width: 6em;
			padding-top: 1.2em;
		}
		td {
			// padding-top: 1.2em;
		}
		.ui-checkbox, .ui-radio {
			display: inline-block;
			// width: 32%;
		}
		fieldset.ui-controlgroup-horizontal {
			.ui-radio {
				width: auto;
			}
		}
	}
}
#dataStatistics {
	.ui-btn {
		font-size: 0.875em;
	}
	.row {
		margin-bottom: 15px;
	}
}
#customerBill {
	table.infoList {
		th {
			width: 6.5em;
		}
	}
}
#toDo {
	table.infoList {
		tr {
			border-bottom: 1px solid @color-gray;

			&:first-child {
				border-bottom: 1px solid @color-gray-1;
			}
		}
	}
}
#customerRequirement {
	.ui-icon-plus {
		margin-top: -2.5em;
		float: right;
		display: inline-block;
		vertical-align: top;
		margin-left: 0.2em;
		background-color: transparent;
		border: none;
		&:after {
			background-image: url("../images/plus.svg");
			background-color: transparent;
		}
	}
	.ui-link {
		font-size: 0.875em;
	}
	.requireList {
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 0.875em;

		li {
			padding: 8px 4px;
			border-bottom: 1px dashed @color-gray;

			.col-xs-4 {
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
}
#customerProcess {
	.col-xs-6 {
		padding-left: 0;
		padding-right: 0;
	}
	.viewPoint {
		font-size: 0.875em;
		float: right;
		margin-top: -50px;
		.ui-radio label {
			font-size: 0.875em;
		}
	}
	.processInfo {
		font-size: 0.875em;

		tr {
			td:first-child {
				width: 50%;
			}
		}
	}
	.col-xs-6:first-child {
		padding-right: 1em;
	}
	.col-xs-6:last-child {
		border-left: 1px solid @color-gray;
		padding-left: 1.4em;
	}
	.total {
		width: 2em;
		height: 2em;
		border-radius: 50%;
		background: @color-red;
		color: @color-white;
		text-align: center;
		line-height: 2;
		position: absolute;
		top: 0;
		left: -1em;
	}
	.processContent {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0.875em;

		li {
			margin-bottom: 2em;
			position: relative;
			span {
				font-size: 0.75em;
				display: block;
			}
			&:after {
				content: "";
				width: 0.9em;
				height: 0.9em;
				border-width: 2px;
				border-style: solid;
				border-radius: 50%;
				background: @color-white;
				position: absolute;
				top: 4px;
				left: -31px;
			}
			&:first-child:after {
				border: none;
				background: none;
			}
		}
	}
	.done:after {
		border-color: @color-gray-1;
	}
	.ontime:after {
		border-color: @color-green;
	}
	.delay:after {
		border-color: @color-red;
	}
	.dashed.done:after {
		background-color: @color-gray-1;
	}
	.dashed.ontime:after {
		background-color: @color-green;
	}
	.dashed.delay:after {
		background-color: @color-red;
	}
	.customerName {
		margin-bottom: 15px;
	}
	.ui-icon-plus {
		display: inline-block;
		margin: 0;
		vertical-align: middle;
	}
}
#customerTrack {
	padding: 20px;
	h3 {
		text-align: center;
	}
}
#customerIntention {
	.ui-checkbox {
		width: auto;
	}
}